---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/18046145275219342?access_token=mock_token&fields=id,media_url
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"A4UAnJgerCl6TSBMofDkzFW"}}'
  recorded_at: Fri, 24 Jan 2020 08:55:05 GMT
recorded_with: VCR 5.0.0
