---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/me?access_token=mock_token&fields=id,username
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"Av7KFMb1-rbi-JTgQQxxRaW"}}'
  recorded_at: Fri, 24 Jan 2020 08:44:10 GMT
recorded_with: VCR 5.0.0
