---
http_interactions:
- request:
    method: get
    uri: https://graph.instagram.com/refresh_access_token?access_token=mock_short_lived_token&grant_type=ig_refresh_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"A2BJfyXwiCTj6Lp9YjlCfAc"}}'
  recorded_at: Thu, 23 Jan 2020 10:42:30 GMT
recorded_with: VCR 5.0.0
